main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background: #2A2A2A;
  background: linear-gradient(180deg,rgba(42, 42, 42, 1) 0%, rgba(60, 60, 60, 1) 100%);
  gap: 100px;
}

.carousel{
  width: 92vw;
  height: 770px;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.currentCarousel{
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carouselImage{
  min-width: 100%; 
  height: 100%;
  margin: 0;    
  padding: 0;
  flex-shrink: 0;
}

.carouselImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.legends{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.titleLegends{
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  align-self: flex-start;
}

.cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
