main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background: #2A2A2A;
  background: linear-gradient(180deg,rgba(42, 42, 42, 1) 0%, rgba(60, 60, 60, 1) 100%);
}

.cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px;
  gap: 100px;
}