nav{
    width: 1100px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #0e0d0d;
    border-radius: 50px;
    position: fixed;
    z-index: 1000;
    gap: 20px;
    align-self: center;
    transform: translateX(-50%);
    top: 20px;
    left: 50%;
}

.fielImage{
    width: 150px;
}

.fielImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

.links img{
    width: 32px;
}

.links:hover{
    transition: ease-in-out 300ms;
    transform: scale(1.1);
}

.logoCorinthians{
    position: absolute;
    height: 130px;
    top: 8px;
    left: 44.5%;
    filter: drop-shadow(0 6px 10px rgba(0,0,0,.6));
}

.logoCorinthians img{
    height: 100%;
    position: absolute;
}

.counter{
    background: #CC2031;
    background: linear-gradient(90deg,rgba(204, 32, 49, 1) 0%, rgba(157, 18, 32, 1) 100%);
    width: 160px;
    height: 40px;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
    padding: 10px;
    gap: 15px;
    box-shadow: inset 0 4px 4px rgba(250,250,250, 0.25);
}